/* estilo billonario nueva plantilla lateral */

@media (max-width: 1920px) {
    main {
        font-family: 'Cabin', sans-serif;
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;
        place-items: center;
        gap: 9px;
    }

    .container_billonario {
        width: 90%;
        background-color: #cf0c1d;
        margin: 0 auto;
        border-radius: 10px;
        padding: 10px;
    }

    .border-line {
        border: 1px solid white;
        border-radius: 12px;
        padding: 1px 5px;
        margin: 32px auto;
    }

    .billonario-titulo {
        height: 36px;
        width: fit-content;
        background-color: #FFC801;
        display: flex;
        padding: 5px 10px;
        border-radius: 12px;
        margin: 0 auto;
        margin-top: -25px;
    }

    .billonario-titulo h4 {
        margin: 0;
        font-size: 24px;
        color: #771112;
        text-transform: uppercase;
    }

    .billonario-titulo_cifras {
        height: 36px;
        width: fit-content;
        background-color: white;
        display: flex;
        padding: 5px 10px;
        border-radius: 12px;
        margin: 0 auto;
        margin-top: -20px;
    }

    .billonario-titulo_cifras h4 {
        margin: 0;
        font-size: 24px;
        color: black;
        text-transform: uppercase;
    }

    .logo-billonario {
        width: 70%;
        margin: 15px auto;
    }

    .logo-billonario img {
        width: 100%;
    }

    .premio-billonario {
        width: 100%;
        margin: 0 auto;
        margin-top: 12px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .premio-billonario h4 {
        font-size: 35px;
        color: white;
        font-weight: 800;
        height: 30px;
    }

    .nums {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }

    .punto {
        display: flex;
        align-items: flex-end;
        color: white;
        font-size: 35px;
        font-weight: 400;
    }

    .punto h1 {
        margin: 0;
        height: 60px;
        display: flex;
        align-items: flex-end;
    }


    .punto_comilla h1 {
        display: flex;
        align-items: flex-start;
        color: white;
        height: 60px;
        font-size: 35px;
        font-weight: 400;
        margin: 0;
    }

    .num {
        height: 45px;
        color: black;
        background-color: white;
        font-weight: 400;
        padding: 3px 5px;
        border-radius: 4px;
    }

    .num h1 {
        font-size: 26px;
        line-height: 40px;
        font-weight: 800;
        margin: 0;
    }

    .footer-billonario {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .footer-billonario p {
        color: white;
        margin: 5px;
    }
}

//  estilos lateral resultados  hoy y lateral

@media (max-width: 1920px) {
    .panel30__info {
        display: flex;
        justify-self: center;
        align-items: flex-start;
        width: 90%;
        margin: 0 auto;
    }

    .panel30__info__card {
        width: 100%;
        background-color: #4BD097;
        position: relative;
        height: auto;
        border-radius: 0.5em;
        padding: 1em;
        padding-top: 1em;
    }

    .panel30__info__card__title {
        font-family: Gotham;
        font-weight: bold;
        width: 70%;
        left: 50%;
        transform: translate(-50%, 0);
        top: -1.5em;
        font-size: 1.2em;
        line-height: 1.5em;
        text-transform: uppercase;
        text-align: center;
        color: white;
        position: absolute;
        background-color: #1f4844;
        padding: 0.4em 0.6em;
        border-radius: 0.2em;
        text-align: center;
    }

    .panel30__info__card__title_semanales {
        font-family: Gotham;
        font-weight: bold;
        width: 70%;
        left: 50%;
        transform: translate(-50%, 0);
        top: -1.5em;
        font-size: 1em;
        line-height: 1.5em;
        text-transform: uppercase;
        text-align: center;
        color: white;
        position: absolute;
        background-color: #1f4844;
        padding: 0.4em 0.6em;
        border-radius: 0.2em;
        text-align: center;
    }

    .panel30__grid__subtitle {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        width: 100%;
        margin: 1em auto;
        justify-content: space-between;
    }

    .panel30__grid__subtitle div {
        width: 90%;
        grid-column: auto;
        font-family: Gotham;
        font-weight: 500;
        font-size: 1.2em;
        text-align: center;
        padding: 0.6em 0.4em;
        color: white;
        background-color: #1f4844;
        border-radius: 0.5em;
        margin: 0.2em;
    }

    .panel30__grid__results {
        display: grid;
        gap: 0.5em;
    }

    .panel30__grid__result__subgrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 1em;
    }

    .panel30__grid__result__subgrid div {
        font-size: 0.8em;
        font-family: Gotham;
        font-weight: 500;
        background-color: white;
        padding: 0.7em 0.4em;
        border-radius: 0.5em;
        width: 90%;
        text-align: center;
        color: black;
    }

    .panel30__grid__result__subgrid__secondary {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 1em;
    }

    .panel30__grid__result__subgrid__secondary div {
        font-size: 0.8em;
        font-family: Gotham;
        font-weight: 500;
        background-color: #A3E9CD;
        padding: 0.7em 0.4em;
        border-radius: 0.5em;
        width: 90%;
        text-align: center;
        color: black;
    }
}
