<br>
<h2>Plantilla central resultados hoy visualizacion</h2>
<div [innerHTML]="plantillaCentralHtml"></div>
<h2>Plantilla central resultados hoy HTML</h2>
<div class="form-floating">
  <textarea class="form-control" id="floatingTextarea2" style="width: 90%" rows="50">{{plantillaCentralHtml}}</textarea>
</div>
<br>
<h2>Plantilla lateral resultados hoy visualizacion</h2>
<div [innerHTML]="plantillaLateralHtml"></div>
<br>
<h2>Plantilla lateral resultados hoy HTML</h2>
<div class="form-floating">
  <textarea class="form-control" id="floatingTextarea2" style="width: 90%" rows="30">{{plantillaLateralHtml}}</textarea>
</div>